<mat-drawer-container class="sidenav-container partner-list">


  <!-- Discount or Delivery fee campaign-->
  <mat-drawer-content>
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 allPadding">
          <div class="row">
            <div class="col-12">
              <div class="box bigBox">
                <div class="header ">
                  Free Item
                </div>

                <div class="row  ">
                  <div class="col-6 ">
                    <!--backup period checkbox-->
                    <div class="backupRadiobuttonsContent">

                      <div *ngFor='let radio of discountType; let i = index' class="radiobuttonContent mr-5">
                        <div class="radioButton" (click)='freeItemRadioClick(i,discountType,"discountType")'>
                          <div class="noChecked" [ngClass]="{ 'checked': radio.checked }"></div>
                        </div>
                        <div class="radiobuttonName">
                          {{ radio.name }}
                        </div>
                      </div>
                    </div>

                    <div class="col ">
                      <label class="labelTextArea" for="selectAttachPartner">Attach Partner</label>
                      <mat-form-field class="selectCampaignType" id="selectAttachPartner">
                        <mat-select class="matSelect" [value]="partnerValue" (selectionChange)="changeValuePartner($event.value)">

                          <mat-option *ngFor="let type of freeItemPartnerList" [value]="type"
                                      class="matOption">
                            <img [src]="type.partnerImage" alt="" class="logoPartner">
                            {{type.partnerName}}
                          </mat-option>
                        </mat-select>
                        <mat-hint *ngIf="freeItemPartnerValidator">
                          <span class="mat-error">Partner is required</span>
                        </mat-hint>
                      </mat-form-field>
                    </div>

                    <div class="col ">
                      <div class="row ">
                        <div class="backupRadiobuttonsContent">

                          <div *ngFor='let radio of freeItemType; let i = index' class="radiobuttonContent mr-5">
                            <div class="radioButton"  (click)='freeItemRadioClick(i,freeItemType,"freeItemType")'>
                              <div class="noChecked" [ngClass]="{ 'checked': radio.checked }"></div>
                            </div>
                            <div class="radiobuttonName">
                              {{ radio.name }}
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>


                    <div class="col" *ngIf="freeItemType[0].checked">
                      <label class="labelTextArea" for="selectCampaignType">Free Item</label>
                      <mat-form-field class="selectCampaignType" id="selectCampaignType">
                        <mat-select class="matSelect" [value]="fromInventoryValue"
                                    (selectionChange)="changeValueCampaignType($event.value,'inventory')">

                          <mat-option *ngFor="let type of freeItemList" [value]="type" class="matOption">
                            {{type.name}}
                          </mat-option>
                        </mat-select>
                        <mat-hint *ngIf="freeItemValidator">
                          <span class="mat-error">Free item is required</span>
                        </mat-hint>
                      </mat-form-field>

                    </div>

                    <div class="col" *ngIf="freeItemType[1].checked">
                      <label class="labelTextArea" for="fromMenu">Free Item</label>
                      <mat-form-field class="selectCampaignType" id="fromMenu">
                        <mat-select class="matSelect"  [value]="fromMenuValue"
                                    (selectionChange)="changeValueCampaignType($event.value,'fromMenu')">
                          <mat-option *ngFor="let type of attachMenuItem" [value]="type" class="matOption">
                            <img [src]="type.menuItemImage" alt="" class="logoPartner">
                            {{type.name + '(' + type.menuName + ')'}}
                          </mat-option>
                        </mat-select>
                        <mat-hint *ngIf="freeItemValidator">
                          <span class="mat-error">Free item is required</span>
                        </mat-hint>
                      </mat-form-field>
                    </div>
                    


                   <!-- <div class='col checkboxContent '>
                      <label class="labelTextArea" for="changeDiscountRateStatus">Free Item Per Item</label>
                      <div class='checkbox' id="changeDiscountRateStatus"
                           [ngClass]='{"checkboxActive" :changeDiscountRateStatusValue}'
                           (click)='changeDiscountRateStatus()'>
                        <div class='checkboxButton' [ngClass]='{"checkboxButtonActive" :changeDiscountRateStatusValue}'>
                        </div>
                      </div>
                    </div>-->

                    <!--  <div class="col " *ngIf="changeDiscountRateStatusValue">
                        <div class="containerItem ">
                          <div *ngFor="let item of attachMenu">
                            <div class="attachListDiv">
                              <img [src]="item.logo" alt="" class="logoAttachListDiv">
                              <span class="textAttachListDiv">{{item.viewValue}}</span>
                              <div class="inputDiv">
                                <mat-form-field class="example-form-field lang">
                                  <input class="inputAttach" matInput type="text" [(ngModel)]="discountRate">
                                  <button mat-button *ngIf="discountRate" matSuffix mat-icon-button aria-label="Clear"
                                          (click)="discountRate=''">
                                    <mat-icon>close</mat-icon>
                                  </button>
                                </mat-form-field>
                                %
                              </div>

                            </div>
                          </div>
                        </div>
                      </div>-->

                  </div>


                  <div class="col-6 ">

                    <div class="col matChipDiv">
                      <label class="labelTextArea" for="attachMenu">Attach Menu Item</label>
                      <mat-form-field class="example-chip-list attachMenuItem" id="attachMenu">
                        <mat-chip-list #chipList>
                          <mat-chip
                            *ngFor="let type of attachMenu"
                            [selectable]="selectable"
                            [removable]="removable"
                            (removed)="remove(type.name)">
                            {{type.name + '(' + type.menuName + ')'}}
                            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                          </mat-chip>
                          <input
                            matInput
                            #freeItemAttachMenu
                            [matAutocomplete]="auto"
                            [matChipInputFor]="chipList"
                            [matChipInputAddOnBlur]="addOnBlur"
                            (keypress)="$event.cancelBubble"
                          >
                          <div class="mat-select-arrow-wrapper"><div class="mat-select-arrow"></div></div>
                        </mat-chip-list>
                        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                          <mat-option *ngFor="let type of attachMenuItem " [value]="type">
                            <img [src]="type.menuItemImage" alt="" class="logoPartner">
                            {{type.name + '(' + type.menuName + ')'}}
                          </mat-option>
                        </mat-autocomplete>
                        <mat-hint *ngIf="freeItemMenuValidator">
                          <span class="mat-error">Menu item is required</span>
                        </mat-hint>
                      </mat-form-field>
                    </div>
                    <div class="col ">
                      <div class="quantity ">
                        <label class="labelTextArea" for="Quantity">Quantity</label>
                        <mat-form-field class="example-form-field lang " id="Quantity">
                          <input matInput type="text" (keypress)="numberOnly($event)" autocomplete="nope"
                                 [(ngModel)]="freeItem.freeItem.quantity" (input)="getInputValue()">
                        </mat-form-field>
                      </div>
                    </div>

                    <div class="col ">
                      <div class="commissionRate">
                        <label class="labelTextArea" for="CommissionRateforAll">Commission Rate for All </label>
                        <mat-form-field class="example-form-field lang " id="CommissionRateforAll">
                          <input matInput type="text" [(ngModel)]="freeItem.freeItem.commissionRate"
                                 (keypress)="numberOnly($event)" autocomplete="nope" #commissionRateForAll
                                 (input)="getInputValue(commissionRate =$event.target.value, 'commissionRate')">
                        </mat-form-field>
                        %
                      </div>
                    </div>

                    <div class='col checkboxContent'>
                      <div class="commissionRatePerMenu"></div>
                      <label class="labelTextArea" for="changeCommissionRateStatus">Commission Rate Per<br>Menu
                        Item</label>
                      <div class='checkbox' id="changeCommissionRateStatus"
                           [ngClass]='{"checkboxActive" :changeCommissionRateStatusValue}'
                           (click)='commissionRateForAll.value = "";changeCommissionRateStatus()'>
                        <div class='checkboxButton' [ngClass]='{"checkboxButtonActive" :changeCommissionRateStatusValue}'>
                        </div>
                      </div>
                    </div>


                    <div class="col justifyDisplayAlign" *ngIf="changeCommissionRateStatusValue">
                      <div class="containerItem ">
                        <div *ngFor="let item of attachMenu" class="col-12">
                          <div class="attachListDiv">
                            <img [src]="item.menuItemImage" alt="" class="logoAttachListDiv">
                            <span class="textAttachListDiv">{{item.name + '(' + item.menuName + ')'}}</span>
                            <div class="inputDiv">
                              <mat-form-field class="example-form-field lang">
                                <input class="inputAttach" matInput type="text"
                                       [value]="item.percentage?item.percentage:commissionPercentage"
                                       (keypress)="numberOnly($event)" autocomplete="nope"
                                       (input)="setInputValueEveryItem($event.target.value, item.id,'commissionRate')">
                              </mat-form-field>
                              %
                            </div>

                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col">

                      <div id="timePeriod">
                        <label class="labelTextArea" for="from">Time Period</label>
                        <div class="timePeriod ">
                          <label class="labelTextArea" for="from">from</label>
                          <div class="timePicker" id="from">
                            <input class="timeInput" #firstTimeElem [value]='firstTimeValue'
                                   (focus)="focusFunction('firstTime')" (focusout)="focusOutFunction('firstTime')"
                                   (keypress)="timeValidation($event, firstTimeElem.value, 'firstTimeValue')"
                                   (keydown)="clearTimeDada($event, 'firstTimeValue')"
                                   (input)="changeTimeFormat(firstTimeElem.value, 'firstTimeValue')"
                                   autocomplete="off"
                                   onselectstart="return false"
                                   onpaste="return false;"
                                   onDrag="return false"
                                   onDrop="return false"
                                   autocomplete="off" autocapitalize="off" autocorrect="off">
                            <div class='borderBottom'></div>
                            <div class='borderContent'>
                              <div class='borderActive' [ngClass]="{'inputActive': firstTime}"></div>
                            </div>
                          </div>

                          <label class="labelTextArea" for="to">to</label>
                          <div class="timePicker" id="to">
                            <input class="timeInput" #secondTimeElem [value]='secondTimeValue'
                                   (focus)="focusFunction('secondTime')" (focusout)="focusOutFunction('secondTime')"
                                   (keypress)="timeValidation($event, secondTimeElem.value, 'secondTimeValue')"
                                   (keydown)="clearTimeDada($event, 'secondTimeValue')"
                                   (input)="changeTimeFormat(secondTimeElem.value, 'secondTimeValue')"
                                   onselectstart="return false"
                                   onpaste="return false;"
                                   onDrag="return false"
                                   onDrop="return false"
                                   autocomplete="off" autocapitalize="off" autocorrect="off">
                            <div class='borderBottom'></div>
                            <div class='borderContent'>
                              <div class='borderActive' [ngClass]="{'inputActive': secondTime}"></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col ">
                      <div class="validForFirst">
                        <label class="labelTextArea" for="validForFirst">Valid for First</label>
                        <mat-form-field class="example-form-field lang" id="validForFirst">
                          <input matInput type="text" (keypress)="numberOnly($event)" autocomplete="nope"
                                 [(ngModel)]="freeItem.freeItem.validOrders" (input)="getInputValue()">
                        </mat-form-field>
                        orders
                      </div>
                    </div>


                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-drawer-content>


  <!-- Order Fee -->
  <mat-drawer-content>
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 allPadding">
          <div class="row">
            <div class="col-12">
              <div class="box bigBox">
                <div class="header ">
                  Order Fee
                </div>

                <div class="row orderFee">
                      <div class="radiobuttonContent col-6 justify-content-center ">
                        <div class="radioButton" (click)='freeItemOrderFeeRadioClick(0,orderFee,"orderFee")' >
                          <div class="noChecked" [ngClass]="{ 'checked':  orderFee[0].checked }"></div>
                        </div>
                        <div class="radiobuttonNameOrderFee">
                          <span class="radiobuttonNameOrderFeeSpan">  {{ orderFee[0].name }}</span>
                        </div>
                        <div class="radiobuttonNameOrderFeeSpan" >
                          <mat-form-field class="example-form-field orderFeeInput mr-3">
                            <input matInput type="text"  [(ngModel)]="freeItem.freeItem.moreThanOrders"
                                   [disabled]="!orderFee[0].checked" autocomplete="nope"
                                   (input)="freeItem.freeItem.moreThanOrders = $event.target.value;getInputValue()">
                          </mat-form-field>
                          <span class="radiobuttonNameOrderFeeSpan">  AMD</span>

                        </div>
                      </div>

                      <div class="radiobuttonContent col-6 justify-content-center ">
                        <div class="radioButton" (click)='freeItemOrderFeeRadioClick(1,orderFee,"orderFee")' >
                          <div class="noChecked" [ngClass]="{ 'checked': orderFee[1].checked }"></div>
                        </div>
                        <div class="radiobuttonNameOrderFee">
                          <span class="radiobuttonNameOrderFeeSpan">  {{ orderFee[1].name }}</span>
                        </div>
                        <div class="radiobuttonNameOrderFeeSpan" >
                          <mat-form-field class="example-form-field orderFeeInput mr-3">
                            <input matInput type="text"  [disabled]="!orderFee[1].checked"
                                   [(ngModel)]="freeItem.freeItem.everyOrders" autocomplete="nope"
                                   (input)="freeItem.freeItem.everyOrders = $event.target.value;getInputValue()">
                          </mat-form-field>
                          <span class="radiobuttonNameOrderFeeSpan">  AMD</span>

                        </div>
                      </div>



                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-drawer-content>


  <!-- Name and Image -->
  <mat-drawer-content>
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 allPadding">
          <div class="row">
            <div class="col-12">
              <div class="box bigBox">
                <div class="header ">
                  Name and Image
                </div>


                <div class="row nameImageContainer ">

                  <div class="col-6 ">
                    <span class="nameClass">Full Name</span>
                    <mat-form-field class="example-form-field nameAndImage">
                      <input matInput type="text" autocomplete="nope"
                             [(ngModel)]="freeItem.freeItem.itemFullName"
                             (input)="getInputValue()">
                      <mat-hint *ngIf="freeItemFullNameValidator">
                        <span class="mat-error">Full name is required</span>
                      </mat-hint>
                    </mat-form-field>
                  </div>



                    <div class=" uploadImage col-5">
                      <!-- Upload Image -->
                      <div class=" ">
                        <div class=" freeUploadImage">
                          <strong class="mr-4 d-inline">
                            <input type="file" class="file-input"
                                   [(ngModel)] = 'imageInput'
                                   (change)="onFileSelected($event)" #fileInput>
                            <button mdbBtn type="button" class="upload-btn" outline="true" mdbWavesEffect
                                    (click)="fileInput.click()">
                              <mat-icon><i class="material-icons">attach_file</i></mat-icon>
                            </button>
                          </strong>
                          <strong class="mr-4 d-inline">
                            <span class="d-block main-color small-text">Upload Image</span>
                            <span class="d-block main-color small-text">max 100 mb</span>
                            <span class="d-block main-color small-text">250 x 250 px</span>
                          </strong>
                          <div *ngIf="true" class="upload-img justifyDisplayAlign"
                               [ngClass]="{'border3': !imageUrl}">
                            <div *ngIf="!imageUrl" class="border1"></div>
                            <div *ngIf="!imageUrl" class="border2"></div>
                            <img [src]="partnerImageUrl" alt=""/>
                            <button mat-icon-button *ngIf="imageUrl" placement="bottom" mdbTooltip="Delete"
                                    (click)="deleteAttachImg()"
                                    class="delete-button">
                              <mat-icon>
                                <i class="material-icons md-18">delete</i>
                              </mat-icon>
                            </button>
                          </div>
                        </div>
                        <mat-hint *ngIf="freeItemImageValidator">
                          <span class="mat-error hintSpan">Image is required</span>
                        </mat-hint>
                      </div>

                    </div>


                </div>


              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-drawer-content>


  <mat-drawer-content>
    <app-customers-list-selection></app-customers-list-selection>
  </mat-drawer-content>


</mat-drawer-container>

