.newCampaignRow {
  top: 20px;
  position: relative;
}

.justifyDisplayAlign {
  display: flex;
  justify-content: center;
  align-items: center;
}

.b{
  border: 1px solid red;
}
.orderFeeCheckBoxDiv{
  display: flex;
  align-items: center;
  margin-left: 180px;
  //padding-top: 20px;
}

///////////////////////////////

// Country Component Style

.allPadding {
  padding-left: 4%;
  padding-right: 4%;
}

.pageTitle {
  display: flex;
  align-items: center;
  color: white;
  font-weight: bold;
  font-size: 18px;
  padding-left: 40px;
  padding-top: 20px;
}

.publicIcon {
  margin-right: 10px;
}

.paddingRight {
  padding-right: 2%;
}

.paddingLeft {
  padding-left: 2%;
}

.box {
  margin-top: 20px;
  border-radius: 10px;
  overflow: hidden;
}

.header {
  text-align: center;
  background-color: #B4CAD8;
  color: #607D8B;
  font-weight: bold;
  font-size: 18px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.content {
  background-color: white;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 40px;
  height: 420px;
}

.bigBox {
  //margin-bottom: 70px;
  margin-top: 30px;
  background-color: white;
}

.infoName {
  font-weight: bold;
  margin-right: 10px;
}

.info {
  border-bottom: solid 1px #C0D0D6;
  color: #607D8B;
  padding-left: 4px;
  padding-bottom: 9px;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 20px;
}

.payment {
  border-bottom: solid 1px #C0D0D6;
  color: #607D8B;
  padding-left: 4px;
  padding-bottom: 9px;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.checkbox {
  width: 40px;
  height: 20px;
  background-color: rgba(168, 184, 190, 0.5);
  border-radius: 17px;
  float: left;
  margin-right: 10px;
  position: relative;
  margin-top: 2px;
  cursor: pointer;
}

.checkboxButton {
  position: absolute;
  width: 24px;
  height: 24px;
  left: -1px;
  top: -2px;
  background-color: #87969c;
  border-radius: 50%;
  transition: left linear 100ms;
}

.checkboxActive {
  background-color: rgba(89, 177, 13, 0.5);
}

.checkboxButtonActive {
  background-color: #59B10D;
  left: 17px;
}

.emailContent {
  background-color: white;
  height: 300px;
  padding-left: 40px;
  padding-top: 20px;
  padding-right: 40px;
}

.emailTextAndInput {
  display: flex;
  align-items: center;
}

.emailText {
  color: #607D8B;
  font-weight: bold;
  width: 420px;
}

.example-form {
  min-width: 150px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.clearIcon {
  cursor: pointer;
}

//////time picker style
.timePicker{
  display: inline-block;
}

.timeInput{
  border: none;
  width: 60px;
  text-align: center;
}

.timeInput:focus{
  outline: none !important;
}

.borderBottom{
  border-bottom: 1px solid rgba(0,0,0,.42);
}

.borderContent{
  display: flex;
  justify-content: center;
}

.borderActive{
  border-bottom: 2px solid #3f51b5;
  margin-top: -1px;
  width: 0%;
  transition: width linear 200ms;
  opacity: 0;
}

.backupRadiobuttonsContent{
  display: flex;
  justify-content: start;
  align-items: center;
  padding-left: 45px;
  padding-top: 20px;;
}

.labelTextArea{
  font-weight: 700;
  border-radius: 10px;
  //border-color: #455A64;
  margin-left: 35px;
  margin-top: 25px;
  margin-right: 10px
}


.radiobuttonContent {
  font-size: 14px;
  color: #607D8B;
  display: flex;
  align-items: center;
}

.radioButton{
  width: 22px;
  height: 22px;
  border: solid 2px #607D8B;
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.noChecked{
  width: 0px;
  height: 0px;
  border-radius: 50%;
  background-color: #607D8B;
  transition-padding: width, height;
  -webkit-transition-property: width, height;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}

.radiobuttonName{
  font-weight: 400;
}

.labelTextArea{
  font-weight: 700;
  border-radius: 10px;
  //border-color: #455A64;
  margin-left: 35px;
  margin-top: 25px;
}

.selectCampaignType{
  width: 50%;
}
.matOption{
  border-bottom: 1px solid;
}

.checked{
  width: 14px;
  height: 14px;
}

.logoPartner{
  width: 20px;
  height: 20px;
  margin-right: 15px;
}

.example-chip-list {
  width: 100%;
}

.checkboxContent {
  display: flex;
  //justify-content: center;
  align-items: center;
}
.checkbox {
  width: 40px;
  height: 20px;
  background-color: #797E7A;
  border-radius: 17px;
  float: left;
  margin-right: 10px;
  position: relative;
  margin-top: 2px;
  cursor: pointer;
}
.checkboxActive {
  background-color: rgba(89, 177, 13, 0.5);
}

.checkboxButton {
  position: absolute;
  width: 24px;
  height: 24px;
  left: -1px;
  top: -2px;
  background-color: #87969c;
  border-radius: 50%;
  transition: left linear 100ms;
}
.checkboxButtonActive {
  background-color: #59B10D;
  left: 17px;
}

.attachListDiv{
  border-bottom: 1px solid #C0D0D6;
  //margin-left: 140px;
  //position: relative;
  display: flex;
  justify-content: flex-end;
}

.inputAttach{
  width: 150px;
}


.logoAttachListDiv{
  width: 45px;
  height: 45px;
  //margin-right: 10px;
  //margin-top: 25px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.textAttachListDiv{
  font-size: 14px;
  margin-right: 50px;
  position: absolute;
  bottom: 5px;
  left: 55px;
  font-weight: 500
}

.inputDiv{
  display: inline-block;
  margin-bottom: -10px;
  margin-right: 30px;
}


.lang{
  width: 75px;
}
.containerItem{
  width: 60%;
}

.attachMenuItem{
  width: 60%;
}

.matChipDiv{
  margin-left: 75px;
}

.quantity{
  margin-left: 140px;
}

.commissionRate{
  margin-left: 30px;
}

.commissionRatePerMenu{
  margin-left: 50px;
}

.validForFirst{
  margin-left: 110px;
}

.timePeriod{
  display: inline-block;
}

#timePeriod{
  margin-left: 80px;
}

.orderFee{
  height: 75px;
}

.orderFeeChachBoxDiv{
  display: flex;
  align-items: center;
  margin-left: 180px;
  padding-top: 20px;
}

.radiobuttonNameOrderFee{
  margin-right: 30px;
}

.radiobuttonNameOrderFeeSpan{
  font-size: 16px;
  font-weight: 600;
}

.hintSpan{
  font-size: 75%;
  margin-top: .66667em;
  top: calc(100% - 0.5em);
  margin-left: 435px;
  font-weight: 500;
}
.orderFeeInput{
  width: 135px;
}

.marginRight{
  margin-right: 400px;
}

.customersAllMarginLeft{
  margin-left: 50px;
  margin-top: 25px;
}


//calendar section style start


.DateContent{
  //margin-left: 20px;
  border: solid 3px #607D8B;
  border-radius: 10px;
  padding-left: 10px;
  width: 500px;
  display:flex;
  justify-content: center;
  align-items: center;

}

.dateInput{
  display: inline-block;
  width: 130px;
}

.calendarIcon {
  //color: white;
  transform: scale(1.4);
  margin-bottom: 10px;
}
.timePicker{
  display: inline-block;
}
.timeInput{
  border: none;
  width: 60px;
  text-align: center;
}

.borderBottom{
  border-bottom: 1px solid rgba(0,0,0,.42);
}
.borderContent{
  display: flex;
  justify-content: center;
}
.borderActive{
  border-bottom: 2px solid #3f51b5;
  margin-top: -1px;
  width: 0%;
  transition: width linear 200ms;
  opacity: 0;
}
.inputActive{
  opacity: 1;
  width: 100%;
}

.line{
  color: black;
  font-size: 30px;
  width: 40px;
  text-align: center;
}

.timePicker{
  display: inline-block;
}

.marginRightTime{
  margin-right: 10px;
}

.timeInput{
  border: none;
  width: 60px;
  text-align: center;
}
.matCalendar {
  width: 120px;
  position: relative;
}




//calendar section style end


.selectCustomersType{
  width: 75%;
}


//name and Images
.nameClass{
  margin-right: 25px;
  padding-top: 27px;
  font-weight: 700;
  margin-left: 50px;
}

.nameAndImage{
  width: 45%;
}
//name and Images end



//add image style start
.file-input {
  display: none;
}
.upload-btn {
  padding: 7px 10px;
  background: white;
  color: black;
  border: 1px solid #000000;
  border-radius: 6px;
}

.upload-img {
  width: 80px;
  height: 80px;
  img {
    width: 80px;
    height: 80px;
  }
}

.delete-button {
  position: absolute;
  //right: 33%;
  //top: 18px;
  color: white;
}


.border1{
  width: 110px;
  border: 1px solid #6D6D6D;
  position: absolute;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  //top: 39px;
  //right: 50px;
}
.border2{
  width: 110px;
  /* height: 80px; */
  border: 1px solid #6D6D6D;
  position: absolute;
  transform: rotate(135deg);
  //top: 39px;
  //right: 50px;
}
.border3{
  border: 1px solid #6D6D6D;
}

.freeUploadImage{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
//add image style end

label{
  color: #607D8B ;
}

.nameImageContainer{
  height: 200px;
  justify-content: center;
  align-items: center;
}

