//material style
.example-container {
  display: flex;
  flex-direction: column;
}

.example-right-align {
  text-align: right;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

input.example-right-align {
  -moz-appearance: textfield;
}


// my style
.allContent {
  height: 95vh;
  display: flex;
  align-items: center;
}

.inputContent {
  width: 100%;
  margin-bottom: 30px;
}

.logoContent {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.menuLogo {
  height: 150px;
}

.lastInput {
  margin-bottom: 120px;
}

.resetButton {
  width: 100%;
  border-radius: 10px;
  background-color: #2691BB;
  font-weight: bold;
  font-size: 16px;
}

.cursor {
  cursor: pointer;
  color: white;
}

input {
  color: white;
}

.errorMassage {
  color: red;
}
