<div class="container resetPassword">
  <div class="row">
    <div class="col-12 col-md-6 offset-md-3 allContent">
      <div class="row">
        <div class="col-12 logoContent">
          <img src='assets/img/logo-lg.png' class="menuLogo">
        </div>
        <div class="col-12 whiteMathInputs">
          <form [formGroup]="passwordForm">
            <mat-form-field class="inputContent">
              <input matInput [errorStateMatcher]="input" placeholder="New password" formControlName='password'
                     [type]="hideForPassword ? 'password' : 'text'">
              <mat-icon class="cursor" matSuffix
                        (click)="hideForPassword = !hideForPassword">{{hideForPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
              <mat-error *ngIf="input">
                password must be longer than 6 symbols
              </mat-error>
            </mat-form-field>
            <mat-form-field class="inputContent">
              <input matInput placeholder="Confirm password" formControlName='passwordRequire'
                     [type]="hideForConfirmPassword ? 'password' : 'text'">
              <mat-icon class="cursor" matSuffix
                        (click)="hideForConfirmPassword = !hideForConfirmPassword">{{hideForConfirmPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
              <mat-error *ngIf="true">
                re password must be equal
              </mat-error>
            </mat-form-field>
          </form>
        </div>
        <div class="col-12">
          <button class="btn btn-primary resetButton" (click)="changePasswordOrResendActivation()">
            {{ inputText }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

