<!-- main -->
<main role="main" class="main">
    <div class="container">
      <div class="login">
        <div class="login-page">
          <!-- form -->
          <form class="form" method="post" action="/auth" [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="logo-png">
              <img src="assets/img/logo-lg.png" alt="LOGO LG" class="logo-lg"/>
              <img src="assets/img/logo-md.png" alt="LOGO MD" class="logo-md"/>
            </div>
            <div class="in-form">
              <div class="login-input mt-1">
                <!-- Email -->
                <p class = 'emailText'>Type your Email to restore your password</p>
                <mat-form-field class="w-100">
                  <input matInput placeholder="Email address" formControlName="email" minlength="8" type="email" name="email" id="email">
                  <mat-error *ngIf="isFieldInvalid('email')">
                    Invalid email address
                  </mat-error>
                </mat-form-field>
                <mat-error *ngIf="errorMassage === 'notFound'">
                  User not found !
                </mat-error>
                <mat-error *ngIf="errorMassage === 'notServer'">
                  Server error !
                </mat-error>
              </div>
            </div>
            <button mat-raised-button type="button" routerLinkActive="action" (click)="onSubmit()" class="btn-block btn-large">
              <span> {{ title }} </span>
            </button>
          </form>
          </div>
        </div>
      </div>
  </main>
  <!-- main. -->
  