.login-page {
    display: flex;
    justify-content: center;
    .logo-png {
        text-align: center;
        justify-content: center;
        display: flex;
    }
    .login-input {
        width: 400px;
    }
    .btn-large {
        background-color: #75B0CC;
        width: 100%;
        font-weight: bold;
        border-radius: 10px;
        box-shadow: initial;
        text-transform: unset;
        padding: 10px 0;
        margin-top: 20px;
        span {
            font-size: 18px;
            opacity: 0.7;
            color: white;
        }
    }
    input {
        color: white;
    }
    .in-form {
        margin-top: 2.5rem;
    }
    .md-form {
        margin-top: 1rem;
    }
    .mat-input-element {
        caret-color: #ffffff;
    }
    .mat-form-field-underline {
        background-color: #fafafa;
    }
    .logo-lg {
        display: none;
    }
    .forg-link {
        margin-top: 1rem;
        float: right;
        text-decoration: underline;
        color: white;
        font-size: 16px;
        &:hover {
            color: #75b0cc;
        }
    }
}
.emailText{
    text-align: center;
    color: white;
    font-weight: 600;
}
/* media screebn for any size style. */
@media screen and (min-width: 1380px) {

    .login-page {
        .logo-md {
            display: none;
        }
        .logo-lg {
            display: block;
        }
    }  
}
