.calendarContent{
    background: #607D8B;
    padding-bottom: 15px;
    width: 410px;
    border-radius: 10px;
    -webkit-touch-callout: none; 
    -webkit-user-select: none; 
    -khtml-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
}
.mountTurn{
    padding-top: 0%;
    padding-bottom: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
    height: 50px;

}
.dateToday{
    font-size: 30px;
    color:  white;
    display: flex;
    justify-content: space-between;
}
.nextMounth{
    cursor: pointer;
    padding-top: 10px;
}
.previusButtonContent{
    width: 25px;
    padding-top: 10px;
    display: inline-block;
}
.previusMounth{
    cursor: pointer;
}
.weekNamesContent{
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 30px;
}
.weekName{
    width: calc(100%/7);
    display: flex;
    justify-content: center;
    align-items: center;
    float:left;
    font-size: 14px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 600;
    color: white;
}
.daysContent{
   height: 282px;
    padding-left: 15px;
    padding-right: 15px;
}
.days{
    width: calc(100%/7);
    color: white;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    float:left;
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    margin-bottom: -1px;
    cursor: pointer;
    flex-direction: column;
    position: relative;
}
.titles{
    margin-top: 10px;
}
.title{
    text-align: center;
    font-size: 18px;
}
.mounth{
    font-weight: 600;
}
.daysNull{
    width: calc(100%/7);
    height:  48px;
    display: flex;
    margin-bottom: -1px;
    float:left;
}
.popUp{
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 200;
    top:0px;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
 
    
}
.eventsList{
    top:90px;
    left:  20vw;
    display: inline-block;
    height: 40vw;
    width: 60vw;
    background-color: #fafafa;
    z-index: 250;
    position: fixed;
    box-shadow: 1px 5px 15px 3px rgba(0, 0, 0, 0.425);
    border-radius: 5px;
    overflow: hidden;
    border: solid 1px rgba(0, 0, 0, 0.05);
}

.day{
    font-size: 61px;
    color: #13001e;
    padding-left: 4%;
    margin-bottom: 1%;
    font-weight: bold;
    font-family: 'Ubuntu', sans-serif;
}
.week{
    color: #13001e;;
    font-size: 18px;
    font-family: 'Ubuntu', sans-serif;
    float:left;
    margin-top: 32px;
    margin-left: 10px;
}
.mountAndYear{
    font-size: 18px;
    border-right: 3px solid #13001e;;
    padding-right: 10px;
    font-family: 'Ubuntu', sans-serif;
    float: left;
    width: 80px;
    margin-top: 5%;
    padding-left: 20px;
    padding-right: 20px;
}
.closeButton{
    position: absolute;
    right: 2%;
    top: 2%;
    z-index: 300px;
}
.fa-close{
    font-size: 20px;
    font-weight: 100;
    color: #9E9E9E;
    cursor: pointer;
}
.eventsInList{
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 5%;
    margin-bottom: 1%;
    -webkit-touch-callout: none; 
    -webkit-user-select: none; 
    -khtml-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
    cursor: pointer;
    background-color: #d4d4d4;
    color: #13001e;
    margin-left: 4%;
    margin-right: 2%;
    border-radius: 5px;
    font-family: 'Ubuntu', sans-serif;
}
.scrolableEvents{
    overflow-y: auto;
    height: 145px;
    margin-top: 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.beegDay{
    float:left;
}
.pudigner{
    height: 10px;
    width: 100%;
    position: relative;
}
.selected{
    position: relative;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    color: white;
}
.isSelected{
     background-color: white;
     color: #607D8B;
}
.deleteButton{
    position: absolute;
    width: 20px;
    height: 20px;
    right: -13px;
    top: -7px;
    padding-left: 2px;
    padding-top: 2px;
    background-color: white;
    border-radius: 50%;
}
.deleteIcon{
    color: red;
    font-size: 16px;
}
.timeInputsContent{
    display: flex;
    justify-content: center;

}
.inputsAndTitles{
   background-color: white;
   width: 300px;
   border-radius: 5px;
}
.inputTitles{
    display: flex;
    justify-content: space-between;
    border-bottom: solid 2px #607D8B;
}
.inputTitle{
    width: 150px;
    text-align: center;
    font-weight: bold;
    color: #607D8B;
}
.inputs{
    display: flex;
    justify-content: space-between;
    padding: 5px 36px;
}
.timePicker{
    display: inline-block;
    width: 80px;
  }
  .timeInput{
    border: none;
    width: 80px;
    text-align: center;
    color: #607D8B;
  }
  .timeInput:focus{
    outline: none !important;
  }
  .borderBottom{
    border-bottom: 1px solid #607D8B;
  }
  .borderContent{
    display: flex;
    justify-content: center;
  }
  .borderActive{
    border-bottom: 2px solid #3f51b5;
    margin-top: -1px;
    width: 0%;
    transition: width linear 200ms;
    opacity: 0;
  }
  .inputActive{
    opacity: 1;
    width: 100%;
  }