<div class = 'block'>
  <div class = 'inputsContent'>
    <label class="labelTextArea" for="calendar">Deactivate for Fixed Period of Time</label>
    <div class="box" id="calendar">
      <div class='inputContent'>
        <div class = 'sellLeamiteContent'> 
          <div>
            Can Sell
          </div>
          <div class = ''>
            <div class="intInputContent">
              <mat-form-field class="example-full-width">
                <input matInput #preOrder [value]="order? order: ''" class = 'intInput'
                       onselectstart="return false" onpaste="return false;"
                       onDrag="return false" onDrop="return false" [readonly]="!IsEdit"
                       (keypress)="IsEdit ? numberValidation($event): false"
                       (input)="getInputValues(preOrder.value)"
                       autocomplete="off" autocapitalize="off" autocorrect="off">
              </mat-form-field>
              <span class='inputTitle'>
                min
              </span>
            </div>
          </div>
          <div>
            Per Day
          </div>
        </div>
        <div class = 'DateContent'>
          <div class="dateInput">
            <mat-form-field>
              <input matInput [matDatepicker]="picker1" [formControl]="date1" [value]="startDate"
                     (dateInput)="getDate($event, 'startDate')"
                     (keypress)="false"
                     (keydown)="keyDownDateInput($event, 1)"
                     onselectstart="return false"
                     onpaste="return false;"
                     onDrag="return false"
                     onDrop="return false"
                     autocomplete="off" autocapitalize="off" autocorrect="off">
              <mat-datepicker-toggle matSuffix [for]="picker1">
                <mat-icon matDatepickerToggleIcon class='calendarIcon'>arrow_drop_down</mat-icon>
              </mat-datepicker-toggle>
              <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="line">
            -
          </div>
          <div class='dateInput'>
            <mat-form-field>
              <input matInput [matDatepicker]="picker2" [formControl]="date2" [value]="endDate"
                     (dateInput)="getDate($event, 'endDate')" (keypress)="false"
                     (keydown)="keyDownDateInput($event, 2)"
                     onselectstart="return false"
                     onpaste="return false;"
                     onDrag="return false"
                     onDrop="return false"
                     autocomplete="off" autocapitalize="off" autocorrect="off">
              <mat-datepicker-toggle matSuffix [for]="picker2">
                <mat-icon matDatepickerToggleIcon class='calendarIcon'>arrow_drop_down</mat-icon>
              </mat-datepicker-toggle>
              <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
  </div>      
  <div class = 'calendarButtonsContent'>
    <button class = 'btn cancelButton'>CANCEL</button>
    <button class = 'btn btn-primary saveButton'>DEACTIVATE</button>
  </div>
</div>
