<!-- Header Admin component View -->

<div class="header-admin">
  
  <ul class="nav justify-content-start font-weight-bold pl-1 pl-lg-2 pl-xl-5 nav-customer">
    <div class="admin-user d-flex position-relative pl-lg-2 pl-xl-4">
      <div class="flag-radius position-relative">
          <img src="assets/img/Flag_Georgia.png" class="admin-flag" alt="FLAG_GEORGIA"/>
      </div>
      <div class="admin-info ml-2 ml-lg-2 ml-xl-5">
          <strong class="admin-name white-text font-weight-bold position-relative"> {{ admin }} </strong>
          <p class="white-text position-relative"> country admin ( <span>{{ country }}</span> ) </p>
      </div>
    </div>
  </ul>
  
</div>


